<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="">
<meta name="author" content="">

<title>YiSoo Python tools</title>

<!-- Bootstrap Core CSS -->
<link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">

<!-- Custom CSS -->
<link href="/static/css/style.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<!-- jQuery and Plugin-->
<script src="/static/js/jquery-3.2.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>

</head>
<body class="index-page">
<div class="wrap-body">
	<header class="main-header">
		<div class="col-sm-8 col-sm-offset-2">
			<!-- Static Header -->
			<div class="header-text">
				<div class="header-text-inner">
					<h1>YiSoo Python Tools<br></h1>
					<p>YiSoo Python Tools是一个基于python的工具箱，通过爬虫实现对网络平台上资源爬取测试，该功能仅用于学习与交流。
					<br>目前可以访问:
					<br>&ensp;&ensp;&ensp;&ensp;1.知乎视频、
					<br>&ensp;&ensp;&ensp;&ensp;2.微博视频、
					<br>&ensp;&ensp;&ensp;&ensp;3.网易云音乐、
					<br>by：mmciel
					<br><br>【仅供个人学习研究和交流使用，请于下载后二十四小时内删除】</p>
					<!-- <a href="doc.html" class="btn btn-header">操作说明</a> -->
				</div>
			</div><!-- /header-text -->
		</div>
	</header>
	<!-- /Section: intro -->
</div>
	<!-- /////////////////////////////////////////Content -->
	<div id="page-content">
		<!-- ////////////Overview Main Nav -->
		<div class="no-gutter" id="overview-mainnav">
			<div class="col-sm-5 col-xs-6 nav-item">
				<a class="nav-item-inner" href="zhihu">
					<div class="nav-item-image gradient-1" style="background-image: url('https://s2.ax1x.com/2019/01/30/k1Clk9.jpg')"></div>
					<h3 class="sub-title">01.</h3>
					<div class="nav-item-detail">
						<h2 class="title"><strong>#</strong> 知乎视频</h2>
						<p><strong>mmciel：</strong> 跟我一起学猫叫，一起喵喵喵喵喵</p>
					</div>
				</a>
			</div>
			<div class="col-sm-7 col-xs-6 nav-item">
				<a class="nav-item-inner" href="weibo">
					<div class="nav-item-image gradient-2" style="background-image: url('https://s2.ax1x.com/2019/01/30/k1CumF.jpg')"></div>
					<h3 class="sub-title">02.</h3>
					<div class="nav-item-detail">
						<h2 class="title"><strong>#</strong> 微博视频</h2>
						<p><strong>mmciel：</strong> 跟我一起学猫叫，一起喵喵喵喵喵</p>
					</div>
				</a>
			</div>
			<div class="col-sm-7 col-xs-6 nav-item">
				<a class="nav-item-inner" href="yunmusic">
					<div class="nav-item-image gradient-3" style="background-image: url('https://s2.ax1x.com/2019/01/30/k1CeyT.jpg')"></div>
					<h3 class="sub-title">03.</h3>
					<div class="nav-item-detail">
						<h2 class="title"><strong>#</strong> 网易云音乐</h2>
						<p><strong>mmciel：</strong> 跟我一起学猫叫，一起喵喵喵喵喵</p>
					</div>
				</a>
			</div>
			<div class="col-sm-5 col-xs-6 nav-item">
				<a class="nav-item-inner" href="/">
					<div class="nav-item-image gradient-4" style="background-image: url('https://s2.ax1x.com/2019/01/30/k1CmOU.jpg')"></div>
					<h3 class="sub-title">04.</h3>
					<div class="nav-item-detail">
						<h2 class="title"><strong>#</strong> 敬请期待</h2>
						<p><strong>mmciel：</strong> 跟我一起学猫叫，一起喵喵喵喵喵</p>
					</div>
				</a>
			</div>
			<div class="col-sm-5 col-xs-6 nav-item">
				<a class="nav-item-inner" href="/">
					<div class="nav-item-image gradient-5" style="background-image: url('https://s2.ax1x.com/2019/01/30/k1CKw4.jpg')"></div>
					<h3 class="sub-title">05.</h3>
					<div class="nav-item-detail">
						<h2 class="title"><strong>#</strong> 敬请期待</h2>
						<p><strong>mmciel：</strong> 跟我一起学猫叫，一起喵喵喵喵喵。</p>
					</div>
				</a>
			</div>
			<div class="col-sm-7 col-xs-6 nav-item">
				<a class="nav-item-inner" href="/">
					<div class="nav-item-image gradient-6" style="background-image: url('https://s2.ax1x.com/2019/01/30/k1CMTJ.jpg')"></div>
					<h3 class="sub-title">06.</h3>
					<div class="nav-item-detail">
						<h2 class="title"><strong>#</strong> 敬请期待</h2>
						<p><strong>mmciel：</strong> 跟我一起学猫叫，一起喵喵喵喵喵。</p>
					</div>
				</a>
			</div>
		</div>
	</div>


<!-- JS -->
<script src="/static/js/main.js"></script>
<script type="text/javascript" src="/static/js/validator.min.js"></script>
<script type="text/javascript" src="/static/js/form-scripts.js"></script>

</body>
</html>